.header {
  height: 10%;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 0 0 3px 3px;
  box-shadow: var(--primary-shadow);
}

.appBar{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  align-content: center;
}

.homeButton {
  outline: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: inherit;
  border-radius: 3px;
  box-shadow: var(--secondary-shadow);
  margin-left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeButton_icon {
  width: 24px;
  height: 24px;
}

.title {
  color: var(--secondary-color);
  margin-left: 3%;
  font-size: 20px;
}

